[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://media.paperblog.fr/i/402/4022743/10-pochettes-dalbums-cultes-revisitees-L-QaPuHY.jpeg
Type=Link
URL=http://media.paperblog.fr/i/402/4022743/10-pochettes-dalbums-cultes-revisitees-L-QaPuHY.jpeg
Icon=text-html
