[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://www.icone-png.com/png/8/7601.png
Type=Link
URL=http://www.icone-png.com/png/8/7601.png
Icon=text-html
